body {
  background: url(https://t4.ftcdn.net/jpg/04/97/80/99/360_F_497809944_FMo3DO6j7XSlb9rZKOlnqaaWoJhuZXBm.jpg);
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
/* display: flex; 
1. container 라는 div가 부모 요소 (Flex Container)
2. Flex Items (자식 요소) → 그 안에 직계로 들어있는 요소들 <WeatherBox /> <WeatherButton />
3. 바로 아래 직계 자식들이 Flex Items 가 된다. 아이템들의 위치를 조정 해주는 역할
4. Flex는 “누굴, 어디로, 어떻게” 배치할지 딱 정할 수 있게 해줘. 이제 그 특정한 자식들의 위치를 쉽게 조정하기 위해 어떤 걸 위치 조정하겠다고 콕 집어주는 역할을 한다.
5. 모든 div 안에있는 (같은 영역안에 있는) 아이템들을 세로가 아닌 가로 정렬로 바꿔버린다. 
6. div 안에있는 자식 요소들이 가로 한줄로 배치됨. -------
7. 그걸 원상복구 하는게 flex-direction: column;

*/

.weather-box {
  border: 3px solid white;
  border-radius: 20px;
  padding: 50px; /* 안에 공간 */
  background-color: azure;
}

.my-btn:hover {
  background-color: blue;
}
